.breadcrumb {
    display: flex;
    flex-flow: row;
    font-family: var(--title-small);
    width: 50vh;
    justify-content: space-between;

    transform-origin: top left;
    transform: rotate(-90deg);
    z-index: 20;

    position: fixed;
    bottom: 38%;
    left: 98%;
    align-items: center;
}

.current {
    color: var(--primary-color);
    font-size: 1.2em;
}

.current_about {
    color: #0D323B;
    font-size: 1.2em;
}

#about_bc {
    color: white;
}

#about_bc > p > a:hover {
    color: #0D323B;
}

.dot {
    width: 3px;
    height: 3px;
    background-color: black;
    border-radius: 100%;
}

.dot_about {
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 100%; 
}